In [ ]:
import pandas as pd

df = pd.read_csv(r"DataAnalyst-Raw-Student-V2 (1).csv")
print(df.shape)        # Check number of rows & columns
df.head()              # Preview first few rows
df.info()              # See data types and null counts
df.describe()          # Summary statistics (only for numeric columns)

(100, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   Job Title          100 non-null    object
 2   Salary Estimate    100 non-null    object
 3   Job Description    100 non-null    object
 4   Rating             100 non-null    float64
 5   Company Name       100 non-null    object
 6   Location           100 non-null    object
 7   Headquarters       100 non-null    object
 8   Size               100 non-null    object
 9   Founded            100 non-null    int64
 10  Type of ownership  100 non-null    object
 11  Industry           100 non-null    object
 12  Sector             100 non-null    object
 13  Revenue            100 non-null    object
 14  Competitors        100 non-null    object
 15  Easy Apply         100 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 12.6+ KB

       Unnamed: 0     Rating      Founded
count  100.000000  100.00000   100.000000
mean    47.770000    3.26300  1270.730000
std     28.622889    1.67529   945.423403
min      0.000000   -1.00000    -1.000000
25%     22.750000    3.40000    -1.000000
50%     47.500000    3.70000  1958.000000
75%     72.250000    4.00000  2002.000000
max     97.000000    5.00000  2018.000000

In [3]:
#Handling Missing Value

In [4]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [21]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [10]:
df.dtypes

unnamed:_0             int64
job_title             object
salary_estimate       object
job_description       object
rating               float64
company_name          object
location              object
headquarters          object
size                  object
founded                int64
type_of_ownership     object
industry              object
sector                object
revenue               object
competitors           object
easy_apply            object
dtype: object

In [11]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['founded'] = pd.to_datetime(df['founded'], errors='coerce')

In [12]:
df['company_name'] = df['company_name'].str.strip()
df['location'] = df['location'].str.title()

In [13]:
import numpy as np
Q1 = df['rating'].quantile(0.25)
Q3 = df['rating'].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df['rating'] < (Q1 - 1.5 * IQR)) | (df['rating'] > (Q3 + 1.5 * IQR)))]

In [14]:
df['type_of_ownership'] = df['type_of_ownership'].str.lower().str.replace(' ', '_')

In [15]:
print(df.info())
print(df.isnull().sum())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 99
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   unnamed:_0         81 non-null     int64
 1   job_title          81 non-null     object
 2   salary_estimate    81 non-null     object
 3   job_description    81 non-null     object
 4   rating             81 non-null     float64
 5   company_name       81 non-null     object
 6   location           81 non-null     object
 7   headquarters       81 non-null     object
 8   size               81 non-null     object
 9   founded            81 non-null     datetime64[ns]
 10  type_of_ownership  81 non-null     object
 11  industry           81 non-null     object
 12  sector             81 non-null     object
 13  revenue            81 non-null     object
 14  competitors        81 non-null     object
 15  easy_apply         81 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 10.8+ KB
None
unnamed:_0           0
job_title            0
salary_estimate      0
job_description      0
rating               0
company_name         0
location             0
headquarters         0
size                 0
founded              0
type_of_ownership    0
industry             0
sector               0
revenue              0
competitors          0
easy_apply           0
dtype: int64

,unnamed:_0,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,easy_apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, Ny","New York, NY",201 to 500 employees,1970-01-01 00:00:00.000001961,nonprofit_organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,TRUE
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, Ny","New York, NY",10000+ employees,1970-01-01 00:00:00.000001893,nonprofit_organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, Ny","New York, NY",1001 to 5000 employees,1970-01-01 00:00:00.000002003,company_-_private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, Ny","McLean, VA",201 to 500 employees,1970-01-01 00:00:00.000002002,subsidiary_or_business_segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,RepOrting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,&&&&&,"New York, Ny","New York, NY",501 to 1000 employees,1970-01-01 00:00:00.000002009,company_-_private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE